# SPICE
spiceypy

# Interactive Shell
ipython
tqdm

# Jupyterlab
jupyterlab

# Numerics and Science
numpy
pandas
scipy

# Plotting
matplotlib
imageio

# Rendering, GUI
PyQt5
visvis

# Machine Learning
scikit-learn
