# SPICE
spiceypy

# Interactive Shell
ipython
ipywidgets
tqdm

# Jupyterlab
jupyterlab

# Numerics and Science
numpy
pandas
scipy
pingouin
seaborn
spherical_kde

# Plotting
matplotlib
imageio

# Rendering, GUI
PyQt5
visvis
ipympl

# Machine Learning
scikit-learn
tensorflow
keras-tuner

# Astronomy and Space
astroML
astropy
skyfield

# Data Preparation / Augmentation / Processing
imbalanced-learn